<a href="https://colab.research.google.com/github/emagc/daa_2021_1/blob/master/Tarea5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from time import time

def ejemplo1( n ):
    start_time=time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
    print(f"tiempo: {time()-start_time}")
for entrada in range(100,1001,100):
  ejemplo1( entrada )

total=1
tiempo: 6.4849853515625e-05
total=1
tiempo: 1.7642974853515625e-05
total=1
tiempo: 5.054473876953125e-05
total=1
tiempo: 3.266334533691406e-05
total=1
tiempo: 1.33514404296875e-05
total=1
tiempo: 1.3589859008789062e-05
total=1
tiempo: 0.00032830238342285156
total=1
tiempo: 2.3603439331054688e-05
total=1
tiempo: 1.71661376953125e-05
total=1
tiempo: 2.3603439331054688e-05

In [12]:
from time import time

def ejemplo2( n ):
    start_time=time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    print(f"tempo: {time()-start_time}")
    return contador

for entrada in range(100,1001,100):
  ejemplo2( entrada )

tempo: 0.0004565715789794922
tempo: 0.001988649368286133
tempo: 0.0041654109954833984
tempo: 0.007849693298339844
tempo: 0.013794898986816406
tempo: 0.02431344985961914
tempo: 0.026282548904418945
tempo: 0.03368425369262695
tempo: 0.0422060489654541
tempo: 0.0520782470703125

In [13]:
from time import time

def ejemplo3( n ): # n=4
    start_time=time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    print(f"tiempo: {time()-start_time}")
    return y

for entrada in range(100,1001,100):
  ejemplo3(entrada)

tiempo: 4.76837158203125e-06
tiempo: 7.867813110351562e-06
tiempo: 9.059906005859375e-06
tiempo: 8.821487426757812e-06
tiempo: 8.344650268554688e-06
tiempo: 2.765655517578125e-05
tiempo: 8.344650268554688e-06
tiempo: 8.106231689453125e-06
tiempo: 7.62939453125e-06
tiempo: 7.152557373046875e-06

In [15]:
from time import time

def ejemplo4( n ):
    start_time=time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    print(f"tiempo: {time()-start_time}")
    return z

for entrada in range(100,1001,100):
  ejemplo4(entrada)

tiempo: 1.1920928955078125e-06
tiempo: 7.152557373046875e-07
tiempo: 9.5367431640625e-07
tiempo: 4.76837158203125e-07
tiempo: 2.384185791015625e-07
tiempo: 2.384185791015625e-07
tiempo: 4.76837158203125e-07
tiempo: 4.76837158203125e-07
tiempo: 4.76837158203125e-07
tiempo: 4.76837158203125e-07

In [16]:
from time import time

def ejemplo5( x ):
    start_time=time()
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    print(f"tiempo: {time()-start_time}")
    return n

for entrada in range(100,1001,100):
  ejemplo5(entrada)

tiempo: 9.5367431640625e-06
tiempo: 1.7642974853515625e-05
tiempo: 2.5510787963867188e-05
tiempo: 3.4332275390625e-05
tiempo: 3.9577484130859375e-05
tiempo: 4.8160552978515625e-05
tiempo: 5.745887756347656e-05
tiempo: 6.29425048828125e-05
tiempo: 7.414817810058594e-05
tiempo: 9.512901306152344e-05

In [17]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma

for entrada in range(100,601,100):
  ejemplo6( entrada )

Tiempo transcurrido: 0.1838009357 segundos.
Tiempo transcurrido: 0.9966046810 segundos.
Tiempo transcurrido: 3.5224337578 segundos.
Tiempo transcurrido: 9.2204020023 segundos.
Tiempo transcurrido: 17.3627035618 segundos.
Tiempo transcurrido: 31.3487884998 segundos.